html {
    background: #e6e9e9;
    background-image: linear-gradient(270deg, rgb(230, 233, 233) 0%, rgb(216, 221, 221) 100%);
    -webkit-font-smoothing: antialiased;
    font-size:16px;
}

.partnerwordmark{
    max-width: 100%;
}

.bannerdiv{
    height: 0;
    position: relative;
    padding-bottom: 20%;
}

.bannerphoto{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    background-size: cover !important;
}

body {
    background: #fff;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.06);
    color: #545454;
    font-family: Bodoni;
    font-size: 1.25rem;
    line-height: 1.5;
    margin: 0 auto;
    max-width: 800px;
    padding: 2rem 2rem 4rem;
}

@media only screen and (max-width: 600px) {
    body {
        font-size: 1.6rem;
        padding: 0rem .2rem 0ren .2rem;
    }
    h2{
        font-size:1.75rem;
        padding: 0rem 2rem;
    }
    h1{
    font-size:2rem;
    }
    .profilehide{
        display: none;
    }
}

h1{
    font-family: Old London;
    color: #b46940;
    font-size:4rem;
    text-align: center;
}

h2, h3, h4, h5, h6 {
    color: #b46940;
    font-family: Montserrat;
    font-weight: 600;
    line-height: 1.3;
}

h2 {
    margin-top: 1.3rem;
}

a {
    color: #0083e8;
}

b, strong {
    font-weight: 600;
}

samp {
    display: none;
}

img {
    animation: colorize 2s cubic-bezier(0, 0, .78, .36) 1;
    background: transparent;
    border: 5px solid rgba(180, 105, 64);
    border-radius: 4px;
    display: block;
    margin: 1.3rem auto;
    max-width: 95%;
}

@keyframes colorize {
    0% {
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%);
    }
    100% {
        -webkit-filter: grayscale(0%);
        filter: grayscale(0%);
    }
}

.box {
    float: right;
    width: 33.33%;
  }

a{
    color:#b46940;
}

.storyphoto{
    position: relative;
    padding-bottom: 100%;
}

.articlephototop{
    float: left;
    display: inline;
    width:50%;
}

.article_photo{
    display: block;
    background-repeat: no-repeat;
    background-position: center center;    
    background-size: cover;
    position: absolute;
    width: 100%;
    height: 100%;
   /* border:2px #05a0c4 solid;*/
}

.cf:before, .cf:after {
    display: table;
}

.cf:after {
    clear: both;
}

.cf {
    *zoom: 1;
}

.bb {
    border-bottom-style: solid;
    border-bottom-width: 1px;
}

.b--black-70 {
    border-color: rgba(0, 0, 0, .7);
}

.cf:before, .cf:after {
    content: " ";
    display: table;
}

.cf:after {
    clear: both;
}

.cf {
    *zoom: 1;
}

.fl {
    float: left;
    display: inline;
}

.i {
    font-style: italic;
}

.fw4 {
    font-weight: 400;
}

.fw7 {
    font-weight: 700;
}

.tracked {
    letter-spacing: .1em;
}

.lh-title {
    line-height: 1.25;
}

.lh-copy {
    line-height: 1.5;
}

.bg-white {
    background-color: #fff;
}

.pa3 {
    padding: 1rem;
}

.pb4 {
    padding-bottom: 2rem;
}

.pt5 {
    padding-top: 4rem;
}

.pv4 {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.mb3 {
    margin-bottom: 1rem;
}

.mt0 {
    margin-top: 0;
}

.ttu {
    text-transform: uppercase;
}

.f2 {
    font-size: 2.25rem;
}

.f3 {
    font-size: 1.5rem;
}

.f4 {
    font-size: 1.25rem;
}

.measure {
    max-width: 30em;
}

.measure-narrow {
    max-width: 20em;
}

@media screen and (min-width: 30em) {
    .pa4-ns {
        padding: 2rem;
    }
}

.cf:before, .cf:after {
    content: " ";
    display: table;
}

.cf:after {
    clear: both;
}

.cf {
    *zoom: 1;
}

.fn {
    float: none;
}

.tracked {
    letter-spacing: .1em;
}

.lh-title {
    line-height: 1.25;
}

.lh-copy {
    line-height: 1.5;
}

.gray {
    color: #777;
}

.pv5 {
    padding-top: 4rem;
    padding-bottom: 4rem;
}

.ph3 {
    padding-left: 1rem;
    padding-right: 1rem;
}

.mb3 {
    margin-bottom: 1rem;
}

.mt0 {
    margin-top: 0;
}

.mt4 {
    margin-top: 2rem;
}

.ttu {
    text-transform: uppercase;
}

.f6 {
    font-size: .875rem;
}

.measure {
    max-width: 30em;
}

@media screen and (min-width: 30em) {
    .fl-ns {
        float: left;
        _display: inline;
    }

    .w-50-ns {
        width: 50%;
    }

    .pr4-ns {
        padding-right: 2rem;
    }

    .ph5-ns {
        padding-left: 4rem;
        padding-right: 4rem;
    }

    .mt0-ns {
        margin-top: 0;
    }
}

.aspect-ratio {
    height: 0;
    position: relative;
}

.aspect-ratio--1x1 {
    padding-bottom: 100%;
}

.aspect-ratio--object {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
}

.cover {
    background-size: cover !important;
}

.bg-center {
    background-repeat: no-repeat;
    background-position: center center;
}

.cf:before, .cf:after {
    content: " ";
    display: table;
}

.cf:after {
    clear: both;
}

.cf {
    *zoom: 1;
}

.db {
    display: block;
}

.fl {
    float: left;
    _display: inline;
}

.w-50 {
    width: 50%;
}

.w-100 {
    width: 100%;
}

.dim {
    opacity: 1;
    transition: opacity .15s ease-in;
}

.dim:hover, .dim:focus {
    opacity: .5;
    transition: opacity .15s ease-in;
}

.dim:active {
    opacity: .8;
    transition: opacity .15s ease-out;
}

@media screen and (min-width: 30em) {
    .w-25-ns {
        width: 25%;
    }
}

@media screen and (min-width: 30em) and (max-width: 60em) {
    .w-50-m {
        width: 50%;
    }
}

@media screen and (min-width: 60em) {
    .w-25-l {
        width: 25%;
    }

    .w-50-l {
        width: 50%;
    }
}
